/* Utilities */

.nopadding {
	padding: 0 !important;
}

.nomargin {
	margin: 0 !important;
}

.fullwidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.small {
	font-size: 20px;
}

.medium {
	font-size: 35px;
}

.large {
	font-size: 50px;
}

/* General */

html, body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Jura', sans-serif;
}

body {
	background: url(../img/symphony.png);
	overflow: hidden;
}

/* Header */
.header {

}

/* Playlist */
#playlist-container {
}

	.playlist {
		display: block;
		min-width: 320px;
		height: 100vh;
		list-style: none;
		overflow-y: visible;
		overflow-x: hidden;
	}

		.playlist .item {
			position: relative;
			min-width: 320px;
			padding: 5px;
			margin-bottom: 5px;
			background-color: #fefefe;
			box-shadow: 0 1px 1px rgba(0,0,0,0.2);
			cursor: pointer;
			transition: all 0.3s;
			float: none;
		}

			/*.playlist .item:before {*/
				/*content: "\f1a4";*/
				/*position: absolute;*/
				/*font-family: "foundation-icons";*/
				/*top: 0px;*/
				/*left: 20px;*/
				/*font-size: 35px;*/
			/*}*/

			/*.playlist .item:not(.playing):hover {
				background-color: rgba(52, 73, 94, 0.8);
			}*/

			/* song states */
			.playlist .item.playing,
			.playlist .item:hover {
				color: #fefefe;
				background-color: rgba(44, 62, 80, 0.9);
			}

			.playlist .item.playing:before {
				color: rgba(46, 204, 113, 1);
			}

			/*song meta*/
			/*.playlist .item > *,
			.playlist .item .song-meta > * {
				display: inline-block;
			}*/

				.song-meta {
					padding-top: 10px;
					font-size: 20px;
					line-height: 20px;
				}

#add-song-container form {

}

	#add-song-container form input[type="text"],
	#add-song-container form .fi-magnifying-glass {
		display: inline-block;
	}

	#add-song-container form .fi-magnifying-glass {
		position: relative;
		width: 2.4375rem;
		height: 2.4375rem;
		cursor: pointer;
	}

	#add-song-container form .fi-magnifying-glass:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 2.4375rem;
		height: 2.4375rem;
		font-size: 2.4375rem;
		text-align: center;
	}