/* Utilities */

.nopadding {
	padding: 0 !important;
}

.nomargin {
	margin: 0 !important;
}

.fullwidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.small {
	font-size: 20px;
}

.medium {
	font-size: 35px;
}

.large {
	font-size: 50px;
}

.blur {
	filter: url(../img/blur.svg#blur) blur(3px);
	-webkit-filter: blur(3px);
}

/* General */

html, body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Jura', sans-serif;
}

body {
	background: url(../img/backgrounds/shattered.png);
	/*overflow: hidden;*/
}

/* Header */
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: calc(100% - 480px);
	max-height: 42px;
	background-color: #2E3233;
	z-index: 100;
}

	.header .app-name {
		margin-right: 4px;
	}

		.header .app-name h4 {
			text-transform: uppercase;
			color: #CAF200;
			line-height: 42px;
		}

	.header .user-avatar {
		max-height: 42px;
		overflow: hidden;
	}

		.header .user-avatar img {
			max-width: 62px;
		}

	.header .user-name,
	.header .welcome,
	.header .call-to-vote{
		line-height: 42px;
		color: #FFFEFC;
	}

	.header .user-name,
	.header .welcome {
		margin-left: 10px;
	}

	.header .call-to-vote {
		color: #CAF200;
		margin-left: 5px;
	}
	
		.header .call-to-vote:hover {
			text-decoration: underline;
		}

	.header .fb-login {
		background: url(../img/login/login-short.png) no-repeat;
		background-size: 62px 28px;
		background-position-y: 8px;
		width: 62px;
		height: 42px;
		margin-left: 5px;
	}

.content {
	position: relative;
}

#player {
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	border: 3px solid #2E3233;
}

/* Playlist */
#playlist-container {
	max-width: 495px;
	float: right;
	margin-top: 270px;
}

	.playlist {
		display: block;
		min-width: 320px;
		padding-right: 0;
		list-style: none;
	}

		.playlist .item {
			position: relative;
			min-width: 480px;
			padding: 5px;
			background-color: #fefefe;
			box-shadow: 0 1px 1px rgba(0,0,0,0.2);
			cursor: pointer;
			transition: all 0.3s;
			float: none;
			border: 3px solid #2E3233;
			border-top-width: 0px;
			border-bottom-width: 1px;
		}

			/* song states */
			.playlist .item.playing,
			.playlist .item:hover {
				color: #CAF200;
				background-color: #2E3233;
			}

			.playlist .item.playing:before {
				color: rgba(46, 204, 113, 1);
			}

				.song-meta {
					padding-top: 10px;
					font-size: 20px;
					line-height: 20px;
				}

/* Add song */
#add-song-wrapper {
	display: none;
	min-width: 495px;
	position: fixed;
	top: 42px;
	left: 62px;
	background-color: #2E3233;
}

#add-song-container.large-12 {
    max-width: 495px;
}

#add-song-container form {
	position: relative;
}

	#add-song-container form input[type="text"] {
		width: calc(100% - 36px);
        margin-bottom: 0;
	}

	#add-song-container form button[type="submit"] {
		width: 36px;
		height: 36px;
        outline: none;
	}

	#add-song-container form .fi-magnifying-glass {
		position: relative;
		width: 2.4375rem;
		height: 2.4375rem;
		cursor: pointer;
		color: #fefefe;
	}

		#add-song-container form .fi-magnifying-glass:before {
			position: absolute;
			top: 3px;
			left: -1px;
			width: 2.4375rem;
			height: 2.4375rem;
			font-size: 2rem;
			text-align: center;
		}

	#add-song-container form .close-button {
		position: absolute;
		top: 0;
		right: 55px;
	}

.results {
	list-style: none;
    margin-top: 6px;
}

	.results li {
		height: 90px;
		margin-bottom: 6px;
		background: #fefefe;
		box-shadow: 0 1px 1px rgba(0,0,0,0.2);
        border: 1px solid #cacaca;
        border-radius: 3px;
        overflow: hidden;
        cursor: pointer;
        /*transition: box-shadow .5s, border-color .25s ease-in-out;*/
	}

        .results li:hover {
            border: 1px solid #8a8a8a;
            box-shadow: 0 0 2px #CAF200;
        }

            .results li:hover > div img {
                -webkit-filter: grayscale(0%);
                -moz-filter: grayscale(0%);
            }

		.results li div div:first-child {
			float: left;
			width: calc(100% - 130px);
		}

        .results li div div:last-child {
            float: right;
            max-width: 120px;
        }

			.results li h5,
			.results li p {
				padding: 5px 20px;
				margin-bottom: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
			}

            .results li p.description {
                font-style: italic;

            }
		
           .results li div img {
               transition: all 0.3s ease-out;
               -webkit-filter: grayscale(100%);
               -moz-filter: grayscale(100%);
           }


	#add-song-container form,
	#add-song-container .results {
		padding: 0;
	}